[submodule "admin-ui"]
	path = admin-ui
	url = https://github.com/venky0589/arenaflow-admin.git
[submodule "backend"]
	path = backend
	url = https://github.com/venky0589/arenaflow-api.git
[submodule "user-ui"]
	path = user-ui
	url = https://github.com/venky0589/arenaflow-user.git
