spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sports_app
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8080

app:
  jwt:
    secret: "change-me-please-change-me-please-change-me-change"
    validity-ms: 259200000 # 3 days
